@keyframes slide {
  4% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-65%);
  }
} /**/

.client_slider_container {
    padding: 40px 20px;
    background-color: #eef1f3;
    text-align: center;
    overflow: hidden;
  }
  
  .client_slider {
    display: flex;
    width: max-content;
    gap: 20px; /* Space between client cards */
    padding: 10px 0; /* Space between client cards and slider */
    /*animation: slide 36s linear infinite;*/ /* Change the duration of the animation */
    animation: slide 36s ease-in-out infinite;

  }
  
  .client_card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 10px;
    width: 300px;
    text-align: center;
    flex-shrink: 0;
  }
  
  .client-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover; /* This property is used to fit the image inside the container*/
    object-position: top; /* This property is used to position the image inside the container */
    
  }
  
  .client_feedback {
    font-size: 14px;
    color: #4a5568;
    margin-bottom: 10px;
  }
  