@keyframes slideUp {
    0% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
} 

.header_container{
    height: 60vh;
    max-height: 800px;
    background-size: cover;
    background-position: center top; 
    border-radius: 12px;
    display: flex;
    align-items: end;
    position: relative;
    overflow: hidden;
    transition: background-image 1s ease-in-out;    
}

.header_container.animated {
    animation: slideUp 4s ease-in-out;
}

.header_container.blur{
    filter: blur(8px);
    transition: filter 1s ease-in-out;
}
.header_contentHero {
    padding: 80px 100px;
}

.header_contentHero {
    display: inline-block; 
    padding: 40px 30px 12px 20px; 
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px); 
    border-radius: 8px;
    text-align: left;
    color: white; 
    animation: fadeIn 1s ease-in-out;
} 


@keyframes fadeIn {
    from {
        filter: blur(8px);
        opacity: 0.5;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: none;
    }
}

.header_contentHero h2{
 font-size: 28px;
 margin: 0;
}

.header_contentHero p{
    font-size: 18px;
    margin-top: 6px;
}