.hotel-details-container{
  display: flex;
  justify-content: center;
}

.hotel-rating-and-desc{
  flex: 4;
}

.hotel-details {
  max-width: var(--content-max-wd);
  padding: 90px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.hotel-images {
  flex: 3;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}

.hotel-images img {
  max-width: 100%;
  border-radius: 1.5em;
  object-fit: cover;
}


.hotel-info {
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  flex: 4 2;
}

.hotel-header{
  font-size: 2em;
  margin-bottom: 0.1em;
  line-height: 1em;
}

.hotel-rating{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  column-gap: 10px;
  margin-top: 0.1em;
}

.hotel-city{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hotel-city > p{
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.hotel-description{
  display: flex;
  flex: 4;
  flex-direction: column;
  background-color: #cfeae4;
  padding: 1.3em;
  border-radius: 1em;
  margin-top: 1em;
  gap: 1em;
}

.hotel-description > p{
  font-size: 1.2em;
}

.hotel-element-header{
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  background: rgb(0,55,49);
  background: linear-gradient(342deg, rgba(0,55,49,1) 0%, rgba(9,121,117,1) 57%, rgba(0,101,106,0.9457983877144608) 100%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hotel-contacts > h5{
  font-size: 1em;
  margin: 2px;
  margin-top: 7px;
  font-weight: 300;
  color: var(--text-light);
}

.hotel-contacts > span{
  font-size: 1.2em;
}

.hotel-price > p{
  font-size: 2em;
  font-weight: 500;
  margin: 0px;
}

.hotel-price > h5{
  color: #666;
  margin-top: 5px;
  margin-bottom: 5px;
}


.hotel-booking{
  flex: 2;
  padding: 1.5em;
  margin-left: 2em;
  border-radius: 1em;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.hotel-booking > h2{
  margin: 0px;
}


.booking-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #21075f;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}

.booking-button:hover {
  background-color: #7071bd;
}

.hotel-images img {
  padding: 10px;
  width: 100%;
  margin: 0%;
}

.hotel-additional-images{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hotel-additional-images img{
  border-radius: 0.5em;
}

.imageStyle:nth-child(1) img{
  border-radius: 2em;
  width: 50%;
}

@media (max-width: 1050px) {
  .hotel-info{
    flex-direction: column;
  }
  .hotel-booking{
    margin-top: 3em;
  } 
}

@media (max-width: 650px) {
  .hotel-details{
    padding: 70px 0 70px 0;
  }
}