/* General Styles */

.hotelSearchPageContainer{
    max-width: var(--content-max-wd);
    margin: 0 auto;
    padding-top: 2em;
}

.hotelsSearchContainer{
    display: flex;
    flex-direction: row;
    padding-bottom: 5em;
    gap: 0.75em;
    align-items: flex-start
    
}

.hotelSearchHeaderCont{
    margin-top: 1em;
    margin-left: 1em;
}

.hotelSearchHeaderCont > h5{
    font-weight: 300;
    margin: 0px;
}

.hotelSearchHeader{
    margin-top: 3px;
    font-size: 2.5em;
    font-weight: 400;
}

.topSection{
    
    padding-top: 2em;
}

.topSearch{
    flex-grow: 1;
}

.topSort{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.topFilters{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.filterName{
    margin: 0.1em 0 0.1em 0;
    font-size: 1em;
    font-weight: 500;
}

.filters{
    flex: 2;
    padding: 1em;
    border: 1px solid #c7c7c7;
    border-radius: 0.5em;
}

hr{
    color: rgb(198, 196, 196);
    border-style: inset; 
    border-width: 1px; 
    margin-left: 0;
    margin-right: 0;
}

.filterRow{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
}

.priceFilterRow{
    display: flex;
    flex-direction: row;
    column-gap: 25%;
}

.filterGroup{
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
    margin-bottom: 0.5em;
}

.hotelsCards{
    flex:6 
}


.hotelCard{
    display: flex;
    flex-direction: row;
    padding: 1em;
    border-radius: 10px;
    background-color: #e5eae9;
    margin-bottom: 1em;
    text-decoration: none;
    color: #1f1f1f;
}

.hotelCard > a{
    text-decoration: none;
}

.hotelImgCont{
    object-fit: cover;
}

.hotelImg{
    object-fit: cover;
    border-radius: 7px;
    width: 20em;
    max-height: 15em;
    height: auto;
}

.hotelInfo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.hotelName{
    font-size: 1.5em;
    color: var(--primary-color-green);
}

.hotelCityCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    margin: 0px;
}

.hotelCity{
    font-size: 1.2em;
    margin: 0px;
}

.hotelPriceAndRating{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

.hotelPrice{
    font-weight: 400;
    font-size: 1.5em;
}

.hotelRating{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.hotelDescription{
    margin: 0px;
}


/* Responsive Design */
@media (max-width: 968px) {
    
    .hotelsSearchContainer {
        flex-direction: column;
    }

    .topFilters {
        flex-direction: row;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        
    }

    

}

@media (max-width: 750px) {
    .hotelCard{
        flex-direction: column;
    }

    .hotelImg{
        width: 100%;
    }
} 

@media (max-width: 680px) {
    .topFilters {
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 0 auto;
        
    }
    
}

