.nav-header {
  background: #4D4DDB;
  color: white;

  padding: .2rem 0;
}

.navbar{
  top: 0px;
  position:sticky;
  z-index: 22;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
}

.desktop-menu-links{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.username {
  
  font-weight: bold;
  color: var(--extra-light);
}

/* Half-transparent style for home page */
.navbar-home {
  background-color: rgba(0, 0, 0, 0.8); /* Slightly less transparent when scrolled */
  color: white;
  backdrop-filter: blur(10px);
  
  padding: .5rem 0;
}

/* Opaque style for other pages */
.navbar-other {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
   
  padding: .5rem 0;
}

/* Scrolled version of the home navbar */
.navbar-home-scrolled {
  background-color: rgba(0, 0, 0, 0.8); /* Slightly less transparent when scrolled */
  color: white;
  
  padding: .5rem 0;
}

.menu-toggle-button {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

.nav_logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}


.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  font-weight: 500;
  color: var(--extra-light);
  transition: 0.3s;
}

.link a:hover {
  color: var(--primary-color-green);
}

.button{
  color: var(--extra-light) !important;
  border-color: var(--extra-light) !important;
  font-family: Karla !important;
  font-size: 16px !important;
  margin: 0px 5px 0px 5px !important;
}

@media (max-width: 930px) {
  .desktop-menu-links{
    display: none;
  }

  .buttons{
    display: none;
  }
  
}

@media (min-width: 930px) {
  .mobile-menu {
    display: none; /* Ensure mobile menu is hidden on larger screens */
  }
}

