@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display");

:root {
  --primary-color: #2c3855;
  --primary-color: #435681;
  --primary-color-green: rgb(0, 128, 111);
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (width < 900px) {
  .booking_container form {
    grid-template-columns: repeat(2, 1fr);
  }

  .popular_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .client_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .nav_links {
    display: none;
  }

  .header_container {
    padding-bottom: 25rem;
  }

  .booking_container {
    flex-direction: column;
    bottom: -25rem;
  }

  .booking_container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .client_grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer_container {
    gap: 2rem;
  }
}
