/* BookingForm.css */

/* Установка базовых стилей для всех элементов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  /* Фоновое изображение */
  .background-image {
    background-image: url('./assets/ozero.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   /* Контейнер формы */
   .booking-container {
    background-color: rgba(246, 246, 246, 0.944); /* Белый фон с небольшой прозрачностью */
    width: 380px; /* Ширина формы */
    padding: 30px; /* Внутренние отступы */
    border-radius: 10px; /* Закругление краёв */
    box-shadow: 0 10px 8px rgba(8, 8, 8, 0.1); /* Тень вокруг формы */
    text-align: left;
  }
    
    .form-title {
      margin-bottom: 10px; /* Отступ снизу */
      text-align: left; /* Выравнивание по левому краю */
      font-size: 24px;
      font-weight: bold;
      color: #333; /* Тёмно-серый цвет текста */
    }
    
    .form-subtitle {
      font-size: 14px;
      text-align: left;
      color: #888;
      margin-bottom: 20px;
    }
    
    /* Общий стиль для каждой группы полей */
    .input-group {
      position: relative; /* Позиционирование для label */
      margin-bottom: 20px; /* Отступ снизу */
    }
    
    /* Стили заголовка поля (label) */
    .input-label {
      position: absolute; /* Абсолютное позиционирование внутри input-group */
      top: -8px; /* Позиция по вертикали */ /*-8px;/*50%;*/
      /*transform: translateY(-50%);*/ /* Центрирование по вертикали */
      left: 15px; /* Позиция слева */
      background-color: rgba(255, 255, 255, 0.95); /* Белый фон label */
      padding: 0 5px; /* Отступы по краям label */
      font-size: 12px; /* Размер текста */
      color: #555; /* Серый цвет текста */
      z-index: 1; /* Выше по слою, чтобы label был поверх input */
    }
    
    /* Стили для полей ввода */
    .input-field {
      width: 100%; /* Ширина поля */
      padding: 13px; /* Отступ внутри поля */
      padding-left: 35%;/*150px;*/ /* Пространство для label внутри рамки */
      border: 1px solid #ddd; /* Рамка поля */
      border-radius: 5px; /* Закруглённые края */
      border-top-left-radius: 5px; /* Снятие закругления слева */
      border-top-right-radius: 5px; /* Снятие закругления справа */
      color: #555; /* Серый цвет текста */
      font-size: 14px; /* Размер текста внутри полей */
    }
    
    .error-message {
      color: rgb(255, 157, 0);
      font-size: 12px;
      margin-top: 4px;
    }
    
    /* Стили кнопки отправки формы */
    .submit-button {
      width: 100%; /* Ширина кнопки */
      padding: 10px; /* Внутренние отступы */
      border: none; /* Убираем рамку */
      border-radius: 4px; /* Закруглённые края */
      background-color: #336666; /* Зелёный фон */
      color: white; /* Белый текст */
      font-size: 16px; /* Размер текста */
      cursor: pointer; /* Курсор-указатель при наведении */
      transition: background-color 0.3s ease; /* Плавное изменение цвета при наведении */
      margin-top: 10px; /* Отступ сверху */
    }
    
    /* Изменение фона кнопки при наведении */
    .submit-button:hover {
      background-color: #99cccc; /* Более тёмный зелёный */
    }
    
    .confirmation-message {
      margin-top: 20px;
      font-size: 16px;
      color: #336666;
      text-align: center;
    }
  
  
    .input-container {
      position: relative;
      width: 100%; /* Ширина контейнера для ввода */
    }
    
    .input-field.with-counter {
      width: 100%; /* Поле ввода занимает всю ширину */
      padding-right: 50px; /* Оставляем место для счётчика */
      box-sizing: border-box; /* Учитываем padding в ширине */
    }
    
    .char-counter {
      position: absolute;
      right: 10px; /* Расположение счётчика справа */
      top: 50%; /* Вертикальное центрирование */
      transform: translateY(-50%); /* Точная корректировка для выравнивания по центру */
      font-size: 0.9em; /* Небольшой размер текста */
      color: #888; /* Ненавязчивый цвет */
      pointer-events: none; /* Не позволяет взаимодействовать с текстом */
    }